In [ ]:
#Read in needed tables

In [5]:
import pandas as pd
import numpy as np
from sql_functions import get_engine

In [6]:
schema = 'capstone_filmingo' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = get_engine() # assign engine to be able to query against the database

In [13]:
table_name = 'accounts'
df_accounts = pd.read_sql_query(f'select * from {schema}.{table_name}', engine)

In [11]:
table_name = 'vouchers'
df_vouchers = pd.read_sql_query(f'select * from {schema}.{table_name}', engine)

In [15]:
df_accounts.head()

,account_key,city_original,language,country_code,email_hash,onetime_rental_count,subscription_count,postal_code_clean,city_clean,state,language_code,country_name,region,sub_region,voucher_used
0,60a90104f44414d9036aed7d96d1468a5a9e1d104b6791...,Wettingen,de,CH,5f3d193f5be5c279e77a80d7de82ffb34e3883a3d6a3e7...,0,1,5430,Wettingen,Aargau,1.0,Switzerland,Europe,Western Europe,NaN
1,a48b28809457e680de54b4b560e00117308431c574aab2...,Meilen,de,CH,029a26c1483d78f98002c3be1c902b15ce814b62e45a2a...,0,1,8706,Meilen,Zürich,1.0,Switzerland,Europe,Western Europe,NaN
2,7a280859423057ac5f1e0bfc15af602edd23900f3cf7cb...,Lausanne,fr,CH,08a8ff8a3b3fb9be3a8f87a86960bf9f3e43b31d0772e1...,1,0,1005,Lausanne,Waadt,2.0,Switzerland,Europe,Western Europe,NaN
3,23e7ac18b391549e95a98d85a3adae1f3f90c4fcc09732...,Oberdorf,de,CH,007ada12068218817c2b69325d1bfe2d7ac10da3a9922d...,0,2,4436,Liedertswil,Basel-Landschaft,1.0,Switzerland,Europe,Western Europe,NaN
4,a39dbaa7972fb67c15db79d4a66cf5d1b94855ae530774...,Luzern,de,CH,cff18967fb0f8b29eeb54a91b98d027920d44c1e771258...,8,2,6005,Luzern,Luzern,1.0,Switzerland,Europe,Western Europe,0.0

In [14]:
df_vouchers.head()

,voucher_ID,movie_id,creation_date,expiration_date,account_key_sender,voucher_used,email_hash_receiver
0,1,476,2020-01-01,2020-01-31,68b8685cdb36f097528a01b41015c8a5f4766e1d5ef619...,1,338da97810604387739520be9bac3f8d4e686357e6e9ef...
1,2,319,2020-01-01,2020-01-31,4ef8153eea048568537a29b6429d65b35c30414b4ab753...,0,c19709fdf4628b8eb0746954b5edd57d1880cb17ac6bf8...
2,3,300,2020-01-02,2020-02-01,cbc315a9085a2ef1bf1fbe833069c87cb4b0913137ae8f...,0,22b0a84989d222bf683bc18ef6852f00de9f91d77f47ab...
3,4,586,2020-01-03,2020-02-02,3f4446380aadf0b86ee39820962d0d0c5824a782bed6b0...,1,88d1f0201ba08e0a578e66f236991c939ee01224654230...
4,5,585,2020-01-03,2020-02-02,6d45e9cb75dd7daaf7dddfb7c0b3fe762252954db15f63...,0,999c12ed0a20ed60440a91c2c57a236bd329859e8da19f...

In [17]:
df_vouchers.shape

(7782, 7)

In [19]:
df_vouchers.groupby('voucher_used').nunique()

,voucher_ID,movie_id,creation_date,expiration_date,account_key_sender,email_hash_receiver
voucher_used,,,,,,
0,3913,815,979,979,2030,3320
1,3869,824,973,972,1943,3053

In [22]:
df_vouchers.email_hash_receiver.nunique()

5827

In [23]:
df_vouchers.creation_date.min()

Timestamp('2020-01-01 00:00:00')

In [24]:
df_vouchers.creation_date.max()

Timestamp('2022-12-02 00:00:00')