In [ ]:
#Read in needed tables

In [1]:
import pandas as pd
import numpy as np
import datetime
from sql_functions import get_engine

In [2]:
schema = 'capstone_filmingo' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = get_engine() # assign engine to be able to query against the database

In [31]:
table_name = 'accounts'
df_accounts = pd.read_sql_query(f'select * from {schema}.{table_name}', engine)

In [4]:
table_name = 'vouchers'
df_vouchers = pd.read_sql_query(f'select * from {schema}.{table_name}', engine)

In [14]:
table_name = 'subscriptions'
df_subscriptions = pd.read_sql_query(f'select * from {schema}.{table_name}', engine)

In [6]:
table_name = 'playbacks'
df_playbacks = pd.read_sql_query(f'select * from {schema}.{table_name}', engine)

# Trying things out

In [ ]:
df_accounts.head()

In [ ]:
df_vouchers.head()

In [ ]:
df_vouchers.shape

In [ ]:
df_vouchers.groupby('voucher_used').nunique()

In [ ]:
df_vouchers.email_hash_receiver.nunique()

In [ ]:
df_vouchers.creation_date.min()

In [ ]:
df_vouchers.creation_date.max()

In [ ]:
df_vouchers.head()

In [ ]:
df_vouchers.account_key_sender.nunique()

In [ ]:

start_date = '2020-10-01'
end_date = '2022-10-01'

In [ ]:
mask = (df_vouchers['creation_date'] >= start_date) & (df_vouchers['creation_date'] <= end_date)
df2 = df_vouchers.loc[mask]

In [ ]:
df2.creation_date.max()

In [ ]:
df_vouchers.creation_date.max()

In [ ]:
df_accounts.dropna(inplace = True)

In [ ]:
df_accounts.shape

In [ ]:
df_accounts.shape

In [ ]:
df_accounts.account_key.nunique()

In [ ]:
df_accounts.query('voucher_used == 0 or voucher_used ==1').count()

In [ ]:
df_accounts.voucher_used.fillna('not voucher').value_counts()

In [ ]:
df_accounts.voucher_used.isna().value_counts()

In [ ]:
df_accounts.voucher_used.value_counts(normalize=True)

In [ ]:
df_subscriptions.head()

In [ ]:
df_vouchers.creation_date.min()

In [ ]:
df_vouchers.voucher_used.unique()

In [ ]:
df_vouchers.shape

In [ ]:
df_subscriptions.head()

In [ ]:
df_subscriptions.subscription_key.nunique()

In [ ]:
df_subscriptions.query('gift_subscription == True').subscription_key.nunique()

In [ ]:
#nongifted_df.query('account_key == b43a87d35bf285afdbb1c931b68ea2e6dad1f9dcc62947')

In [ ]:
df_accounts.head()

In [ ]:
df_vouchers.head()

In [ ]:
df_vouchers.account_key_sender.nunique()

In [ ]:
df_accounts.account_key.nunique()

In [ ]:
df_subscriptions.account_key.nunique()

In [ ]:
df_vouchers.creation_date.min()

In [ ]:
df_vouchers.creation_date.max()

# Subscriptions date

### trying things out

In [98]:
df_subscriptions['subscription_start_truncate'] = df_subscriptions['subscription_start'].apply(lambda x: x if str(x) > '2020-10-01' else '2020-10-01')

In [101]:
df_subscriptions.head()

,subscription_key,account_key,currency,price,subscription_type,subscription_monthly,subscription_start,subscription_end,gift_subscription,subscription_months_raw,subscription_months,price_chf,price_eur,total_price_chf,total_price_eur,subscription_start_truncate
0,1b82b2308dcae546ad0194d03b9d23edd5d2781109de28...,ab1bcf2c1b8d4eb422079becc0c59b1c7db2fd009235d2...,chf,90.0,BASIC,0,2017-02-24,2021-02-23,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01
1,4cb9f67d44d60eca0485270d73b3028143021296081847...,ee1a45a439dc6968f1cfc2b9840264deeada4c0d93f389...,chf,90.0,BASIC,0,2017-08-21,2023-08-20,False,71.952196,72.0,90.0,75.0,540.0,450.0,2020-10-01
2,40f9e218b70a6f482ecfcde0011305d93fa6059f624a50...,8bf8f58e615549df5f05b717b6e914da80e213edab3dba...,chf,9.0,BASIC,1,2017-09-26,2022-10-08,False,60.387277,61.0,9.0,7.5,549.0,457.5,2020-10-01
3,69d21e601612cc97fc7df9bd17a281879f785358d1c681...,cf914aa939499e8e18fdd9494fce5297b9dce2e1f909ea...,chf,90.0,BASIC,0,2017-09-28,2021-09-27,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01
4,29f98a3154a679f2fe953b1f3b148ddffcb28e60fff719...,8759ab0e44c1cf688770220cf1b87efac2726baca6bfcb...,eur,11.0,STANDARD,1,2017-10-13,2021-10-12,False,47.968131,48.0,15.0,12.5,720.0,600.0,2020-10-01

In [43]:
df_subscriptions['subscription_start_new_2'] = pd.to_datetime(df_subscriptions['subscription_start_new_2'])

In [60]:
#df_subscriptions['subscription_start'] = pd.to_datetime(df_subscriptions['subscription_start'])

In [69]:
df_subscriptions.tail()

,subscription_key,account_key,currency,price,subscription_type,subscription_monthly,subscription_start,subscription_end,gift_subscription,subscription_months_raw,subscription_months,price_chf,price_eur,total_price_chf,total_price_eur,subscription_start_new,subscription_start_new_2
12109,7a42aac6e59d7d856fcc3492fff23157edcfa814e63d0b...,3e8c284f5b04ba2c91fe9bc164fd0734b52865cf284350...,chf,240.0,PATRON,0,2022-11-20,2023-11-19,False,11.959178,12.0,240.0,200.0,240.0,200.0,1668902400000000000,2022-11-20
12110,132e036e5b6dd6af26c137f30ec2b61d79889000b1c1ca...,cfe7396f9cb913f8330fa35ad75fdeb13e8cc295d5b54b...,chf,90.0,BASIC,0,2022-11-20,2023-11-19,False,11.959178,12.0,90.0,75.0,90.0,75.0,1668902400000000000,2022-11-20
12111,2b7087543ab0092df7c20c3acf0d2c2326952cd7dbebad...,e91c854aa33878f97f93b1b12adbff0526b91b94532c51...,chf,9.0,BASIC,1,2022-11-20,2022-12-19,False,0.952792,1.0,9.0,7.5,9.0,7.5,1668902400000000000,2022-11-20
12112,abbdf00b33dd148c62721fa30954f1dca9dbb373f02e51...,8a573a83e18dd7cb6d2032d192eeace7b345c1da47e479...,chf,240.0,PATRON,0,2022-11-20,2023-11-19,False,11.959178,12.0,240.0,200.0,240.0,200.0,1668902400000000000,2022-11-20
12113,0f9824d3285c6f4dafb278d5b26bac32275f3a95095e58...,ef7164d35f9d828ee65cde1506426fb548d7478314d8d3...,chf,15.0,STANDARD,1,2022-11-20,2022-12-19,False,0.952792,1.0,15.0,12.5,15.0,12.5,1668902400000000000,2022-11-20

In [61]:
#df_subscriptions['subscription_start'].astype(str)

0        2017-02-24
1        2017-08-21
2        2017-09-26
3        2017-09-28
4        2017-10-13
            ...
12109    2022-11-20
12110    2022-11-20
12111    2022-11-20
12112    2022-11-20
12113    2022-11-20
Name: subscription_start, Length: 12114, dtype: object

In [65]:
#df_subscriptions['subscription_start_new'] = np.where(df_subscriptions['subscription_start'] <= '2020-10-01', datetime.datetime.strptime('2020-10-01', "%Y-%m-%d"), df_subscriptions['subscription_start'])

In [17]:
#df_subscriptions.account_key.nunique()

8976

In [ ]:
#df_subscriptions['subscription_start_new'] = np.where(df_subscriptions['subscription_start_new'] != '2020-10-01', df_subscriptions['subscription_start'], 'none')

In [ ]:
#df_subscriptions['subscription_start_new2'] = df_subscriptions.mask(df_subscriptions['subscription_start'] < '2020-10-01', '2020-10-01', inplace=True)

In [ ]:
#df_subscriptions.loc[df_subscriptions['subscription_start_new'].isna(), 'subscription_start_new'] =df_subscriptions['subscription_start']

In [ ]:
#df_subscriptions['subscription_start_new2'] = df_subscriptions.loc[df_subscriptions['subscription_start'] < '2020-10-01', '2020-10-01']

In [ ]:
#df_subscriptions.subscription_start_new.fillna(df_subscriptions.subscription_start, inplace = True)

In [ ]:
#df['hasimage'] = np.where(df['photos']!= '[]', True, False)

### truncated subscription start date

In [15]:
df_subscriptions_eda = df_subscriptions

In [16]:
df_subscriptions_eda['subscription_start_adj_period'] = df_subscriptions['subscription_start'].apply(lambda x: x if str(x) > '2020-10-01' else '2020-10-01')

In [17]:
#set data types for subscription dates to datetime
df_subscriptions_eda['subscription_start_adj_period'] = pd.to_datetime(df_subscriptions_eda['subscription_start_adj_period'])

In [18]:
#create new column and calculate subscription duration
df_subscriptions_eda['subscription_months_raw_adj_period'] = ((df_subscriptions_eda.subscription_end) - df_subscriptions_eda.subscription_start_adj_period)/np.timedelta64(1, 'M')

In [19]:
#create new column for rounded subscription months for easier further processing
#generally round up from 0.1 to be able to allow some discrepancies due to day to day calculation of subscription duration (deduct 0.1 to be able to use .ceil)
df_subscriptions_eda['subscription_months_adj_period'] = df_subscriptions_eda['subscription_months_raw_adj_period'] - 0.1
df_subscriptions_eda['subscription_months_adj_period'] = df_subscriptions_eda['subscription_months_adj_period'].apply(np.ceil)

In [20]:
df_subscriptions_eda.head()

,subscription_key,account_key,currency,price,subscription_type,subscription_monthly,subscription_start,subscription_end,gift_subscription,subscription_months_raw,subscription_months,price_chf,price_eur,total_price_chf,total_price_eur,subscription_start_adj_period,subscription_months_raw_adj_period,subscription_months_adj_period
0,1b82b2308dcae546ad0194d03b9d23edd5d2781109de28...,ab1bcf2c1b8d4eb422079becc0c59b1c7db2fd009235d2...,chf,90.0,BASIC,0,2017-02-24,2021-02-23,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01,4.763958,5.0
1,4cb9f67d44d60eca0485270d73b3028143021296081847...,ee1a45a439dc6968f1cfc2b9840264deeada4c0d93f389...,chf,90.0,BASIC,0,2017-08-21,2023-08-20,False,71.952196,72.0,90.0,75.0,540.0,450.0,2020-10-01,34.596193,35.0
2,40f9e218b70a6f482ecfcde0011305d93fa6059f624a50...,8bf8f58e615549df5f05b717b6e914da80e213edab3dba...,chf,9.0,BASIC,1,2017-09-26,2022-10-08,False,60.387277,61.0,9.0,7.5,549.0,457.5,2020-10-01,24.214050,25.0
3,69d21e601612cc97fc7df9bd17a281879f785358d1c681...,cf914aa939499e8e18fdd9494fce5297b9dce2e1f909ea...,chf,90.0,BASIC,0,2017-09-28,2021-09-27,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01,11.860613,12.0
4,29f98a3154a679f2fe953b1f3b148ddffcb28e60fff719...,8759ab0e44c1cf688770220cf1b87efac2726baca6bfcb...,eur,11.0,STANDARD,1,2017-10-13,2021-10-12,False,47.968131,48.0,15.0,12.5,720.0,600.0,2020-10-01,12.353436,13.0

# Vouchers check

### trying things out

In [74]:
df_vouchers.email_hash_receiver.nunique()

4251

In [26]:
df_accounts.voucher_used.count()

537

In [70]:
df_subscriptions.account_key.nunique()

8976

In [71]:
df_vouchers.account_key_sender.nunique()

2221

In [75]:
df_vouchers.creation_date.min()

Timestamp('2020-10-01 00:00:00')

In [76]:
df_vouchers.creation_date.max()

Timestamp('2022-10-01 00:00:00')

In [ ]:
min_dates = df.groupby('Group')['Date'].min()

In [84]:
df_subscriptions.head()

,subscription_key,account_key,currency,price,subscription_type,subscription_monthly,subscription_start,subscription_end,gift_subscription,subscription_months_raw,subscription_months,price_chf,price_eur,total_price_chf,total_price_eur,subscription_start_new,subscription_start_new_2,account_min_date
0,1b82b2308dcae546ad0194d03b9d23edd5d2781109de28...,ab1bcf2c1b8d4eb422079becc0c59b1c7db2fd009235d2...,chf,90.0,BASIC,0,2017-02-24,2021-02-23,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01 00:00:00,2020-10-01,NaT
1,4cb9f67d44d60eca0485270d73b3028143021296081847...,ee1a45a439dc6968f1cfc2b9840264deeada4c0d93f389...,chf,90.0,BASIC,0,2017-08-21,2023-08-20,False,71.952196,72.0,90.0,75.0,540.0,450.0,2020-10-01 00:00:00,2020-10-01,NaT
2,40f9e218b70a6f482ecfcde0011305d93fa6059f624a50...,8bf8f58e615549df5f05b717b6e914da80e213edab3dba...,chf,9.0,BASIC,1,2017-09-26,2022-10-08,False,60.387277,61.0,9.0,7.5,549.0,457.5,2020-10-01 00:00:00,2020-10-01,NaT
3,69d21e601612cc97fc7df9bd17a281879f785358d1c681...,cf914aa939499e8e18fdd9494fce5297b9dce2e1f909ea...,chf,90.0,BASIC,0,2017-09-28,2021-09-27,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01 00:00:00,2020-10-01,NaT
4,29f98a3154a679f2fe953b1f3b148ddffcb28e60fff719...,8759ab0e44c1cf688770220cf1b87efac2726baca6bfcb...,eur,11.0,STANDARD,1,2017-10-13,2021-10-12,False,47.968131,48.0,15.0,12.5,720.0,600.0,2020-10-01 00:00:00,2020-10-01,NaT

### min sub date

In [21]:
df_account_sub_min_date = df_subscriptions.groupby('account_key')['subscription_start'].min()

In [22]:
df_account_sub_min_date.head()

account_key
0017950cb0d712c53942f0d58192b369aa815ddc128f909219e1488cad041cc4   2019-04-20
001cb20257aaf26f10ad88aaa5f8ef6ab84b84431cab4db981cdc1351ad38886   2021-02-20
0023272b55a079432360e20d920e11039cfdb0e831938e313cc388d792e0c24a   2019-11-23
0028522c0f5134803687e5015b0621a9c81855174a4a7f1106b70a1877ce226f   2021-03-05
0036ef0e8bfe9d8b7feef88b872b1a61ef1aa3afed2056c022d773cb48437bf8   2021-11-12
Name: subscription_start, dtype: datetime64[ns]

In [32]:
df_subscriptions_eda = pd.merge(df_subscriptions_eda, df_account_sub_min_date, on='account_key', how='left')

In [40]:
df_subscriptions_eda.rename(columns = {'subscription_start_y':'min_subscription_start'}, inplace = True)

In [43]:
#check if code min sub date works
df_subscriptions_eda[df_subscriptions_eda['account_key'].str.contains('8bf8f58e615549df5f05b717b6e914da80e213edab3dba', na=False)]

,subscription_key,account_key,currency,price,subscription_type,subscription_monthly,subscription_start_x,subscription_end,gift_subscription,subscription_months_raw,subscription_months,price_chf,price_eur,total_price_chf,total_price_eur,subscription_start_adj_period,subscription_months_raw_adj_period,subscription_months_adj_period,min_subscription_start
2,40f9e218b70a6f482ecfcde0011305d93fa6059f624a50...,8bf8f58e615549df5f05b717b6e914da80e213edab3dba...,chf,9.0,BASIC,1,2017-09-26,2022-10-08,False,60.387277,61.0,9.0,7.5,549.0,457.5,2020-10-01,24.214050,25.0,2017-09-26
12106,b27677384f49ff4b1cd80b718c8b5a94032acb66f40a4a...,8bf8f58e615549df5f05b717b6e914da80e213edab3dba...,chf,90.0,BASIC,0,2022-11-20,2023-11-19,False,11.959178,12.0,90.0,75.0,90.0,75.0,2022-11-20,11.959178,12.0,2017-09-26

In [44]:
df_subscriptions_eda.head()

,subscription_key,account_key,currency,price,subscription_type,subscription_monthly,subscription_start_x,subscription_end,gift_subscription,subscription_months_raw,subscription_months,price_chf,price_eur,total_price_chf,total_price_eur,subscription_start_adj_period,subscription_months_raw_adj_period,subscription_months_adj_period,min_subscription_start
0,1b82b2308dcae546ad0194d03b9d23edd5d2781109de28...,ab1bcf2c1b8d4eb422079becc0c59b1c7db2fd009235d2...,chf,90.0,BASIC,0,2017-02-24,2021-02-23,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01,4.763958,5.0,2017-02-24
1,4cb9f67d44d60eca0485270d73b3028143021296081847...,ee1a45a439dc6968f1cfc2b9840264deeada4c0d93f389...,chf,90.0,BASIC,0,2017-08-21,2023-08-20,False,71.952196,72.0,90.0,75.0,540.0,450.0,2020-10-01,34.596193,35.0,2017-08-21
2,40f9e218b70a6f482ecfcde0011305d93fa6059f624a50...,8bf8f58e615549df5f05b717b6e914da80e213edab3dba...,chf,9.0,BASIC,1,2017-09-26,2022-10-08,False,60.387277,61.0,9.0,7.5,549.0,457.5,2020-10-01,24.214050,25.0,2017-09-26
3,69d21e601612cc97fc7df9bd17a281879f785358d1c681...,cf914aa939499e8e18fdd9494fce5297b9dce2e1f909ea...,chf,90.0,BASIC,0,2017-09-28,2021-09-27,False,47.968131,48.0,90.0,75.0,360.0,300.0,2020-10-01,11.860613,12.0,2017-09-28
4,29f98a3154a679f2fe953b1f3b148ddffcb28e60fff719...,8759ab0e44c1cf688770220cf1b87efac2726baca6bfcb...,eur,11.0,STANDARD,1,2017-10-13,2021-10-12,False,47.968131,48.0,15.0,12.5,720.0,600.0,2020-10-01,12.353436,13.0,2017-10-13

### min vouchers date

In [111]:
df_vouchers.head()

,voucher_id,movie_id,creation_date,expiration_date,account_key_sender,voucher_used,email_hash_receiver
0,1891,628,2020-10-01,2020-10-31,cbd5d3b45743a8c272bc764de4edb150c4115c8f7bff7e...,0,8488852448c915ab94b242ec94b49656e3220a32f777cb...
1,1892,411,2020-10-01,2020-10-31,fbc2604face080fb8a1d0caab3c7880c614118e18c50aa...,0,6d7ea0de389ee5bbad9261e91cbffce213c82d690254b7...
2,1893,588,2020-10-01,2020-10-31,f30d590b9a6fdfe04919873771b4e8c16cf624f85e17fe...,1,7c227e00466df81838cc4366a55e6861a1e45006515ee5...
3,1894,733,2020-10-02,2020-10-31,dbed0462bfadd4364315a3416e325e41bb340d495e5230...,1,8f595ae43bcca4008840baf68c0f4a42f2ff1c466400ad...
4,1895,543,2020-10-02,2020-11-01,597ef52f54257b238feb30f84f6cedf85ad220d049516d...,1,db8f0028bf5df42cf35d1b6f98575c3545e52ea72f96fa...

In [45]:
df_voucher_min_date = df_vouchers.groupby('email_hash_receiver')['creation_date'].min()

In [27]:
df_voucher_min_date.head()

email_hash_receiver
00334ba5aed4f738b227c454130a953f5c8d2d4eff99487f62637b6d9913f5e3   2021-04-10
004ed2c62f4d1585488e57c8c864fb5197fb4d12075dbae90d51c3af57291071   2021-03-23
005307ac9c805bbc1cdaa62b19ced518a98cc181f6fd1d543083de236fd94d31   2021-12-30
005d0007b3f929b276422807de15a81321ca6bd617b0811815d0ace8509097cb   2022-08-01
00614766bba763cb7fb158a8ec8a7fccee68accfd332d67980e949d41b36b7e6   2022-02-20
Name: creation_date, dtype: datetime64[ns]

In [47]:
df_accounts_eda = pd.merge(df_accounts, df_voucher_min_date, left_on='email_hash', right_on='email_hash_receiver', how='left')

In [51]:
#check if code works
df_accounts_eda.query('voucher_used == 1' or 'vouchers_used == 0')

,account_key,city_original,language,country_code,email_hash,onetime_rental_count,subscription_count,registration_date,lastlogin_date,postal_code_clean,city_clean,state,language_code,country_name,region,sub_region,voucher_used,creation_date
23,e9ff4d69d16c384a17c5a8cbb965bcb32cd376980dff48...,Nussbaumen,de,CH,20468acea25b3e4eb1d9fea0ce62a38170f12d1b06a130...,1,0,2021-03-16 10:59:00,2022-11-15 12:43:08,5415,Hertenstein AG,Aargau,1.0,Switzerland,Europe,Western Europe,1.0,2021-02-24
105,110d0110388b45161a4e92f119090f35fd9186a5e106d3...,Hessigkofen,de,CH,5b85fab847d093ae0dcc8cb63a5322d600b5028466e3ce...,6,0,2010-01-11 00:00:00,2022-11-27 17:46:29,4577,Hessigkofen,Solothurn,1.0,Switzerland,Europe,Western Europe,1.0,2022-02-05
166,e872b0c9084adc9ccbc3b6ba6aeaea94331fdfedb32f63...,Bern,de,CH,462d6e81842cc8b53991df23099a48fd178cd327337ae6...,3,0,2012-02-28 00:00:00,2022-10-16 20:24:14,3007,Bern,Bern,1.0,Switzerland,Europe,Western Europe,1.0,2021-01-03
292,6b3fba0cbf9dc034b083320e64542d922b090cdc3c400d...,Zürich,en,CH,1841f3e87cd93521eedb92334b591e701dbe06e53cd837...,1,0,2022-03-11 14:42:00,2022-11-28 21:06:42,8032,Zürich,Zürich,1.0,Switzerland,Europe,Western Europe,1.0,2020-12-16
317,e92ce7158f3cf64f2417abed9487d8884befddcf6283d1...,Zürich,de,CH,061e40a344d1ba084482ec5a4b30a4998077ad0e244057...,0,2,2014-09-13 00:00:00,2022-11-26 21:54:01,8003,Zürich,Zürich,1.0,Switzerland,Europe,Western Europe,1.0,2020-10-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21743,08801adfc90e2cab8752479110c9cc7eb7afca3bc48631...,Bern,de,CH,6bcfcc3640ae157cc83dfa647ac24b4bf0ebc9ceaf21d8...,0,0,2022-10-30 20:29:49,2022-10-30 20:30:11,3012,Bern,Bern,1.0,Switzerland,Europe,Western Europe,1.0,2020-12-29
21812,926eca70875fc7553c2ed766b278d4e0c55657c6b1cc10...,Zuchwil,de,CH,84afc7247ea5c809e95a29163795bc5bcf6182a8e92274...,0,0,2022-11-05 17:45:15,2022-11-06 20:17:34,4528,Zuchwil,Solothurn,1.0,Switzerland,Europe,Western Europe,1.0,2022-04-03
21881,e27eca3fc71bff0d67ea8c2f7d712e49a3c47c4114414f...,Chur,de,CH,f68c51df7c1713d231f49b752ca82ff73ce76107b3aebe...,0,1,2022-11-10 08:59:29,2022-11-10 09:01:01,7000,Chur,Graubünden,1.0,Switzerland,Europe,Western Europe,1.0,2021-11-21
22082,67d6efdc699f07096ace8d59a987c7bca99c454891d77e...,Genève,fr,CH,8bf6d8c724644e6ade6d7e57f0df5c0c395ddb22554446...,0,0,2022-11-26 18:31:06,2022-11-26 18:32:25,1203,Genève,Genf,2.0,Switzerland,Europe,Western Europe,1.0,2021-01-02
22098,9a7512a35da6acbe4a1e3c9010e0d02fb82b3685693b5e...,Prilly,fr,CH,9719b0e60693797d5212fead2f7c55e8e23eef02fd4deb...,0,1,2022-11-27 19:26:09,2022-11-27 19:26:39,1008,Jouxtens-Mézery,Waadt,2.0,Switzerland,Europe,Western Europe,1.0,2022-06-24

### OTR min date

In [131]:
df_playbacks.head()

,playback_id,subscription_key,account_key,movie_id,datetime_start,playback_time,user_agent,ip_hash,subscription_playback,date_start,device,app_user
0,164217,244d78efbd14ea96204ac91191184c00a4a3e4da80320b...,f9ce86e33aa59f4f45fd1608bf05eeadf49155cbe50c89...,737,2020-11-09 17:02:19,7380,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; ...,994b3749db069cd9c9256c874f57fcf8cb916f5bf70bb9...,1,2020-11-09,desktop,no
1,164216,623fbfb2657cafbb86b5f084e31aa0ff788ec5f6ccc65e...,5a10ed655c849aeeaa26298d06f5460812f52fd2764a18...,729,2020-11-09 17:21:36,6480,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; ...,c2d1edb12f68b0b7733ca110f52441beb4e8717dde70cc...,1,2020-11-09,desktop,no
2,164215,69dbeba4005cbbd53d6bd3015d7da9dc3dce6e60c078f0...,a0abdc546efdd2d8ce4bedb9f9329c6eca668b4e3e08fd...,513,2020-11-09 17:52:36,4800,$%28PRODUCT_NAME%29/62 CFNetwork/1126 Darwin/1...,416d1ce2b50408455b5ff48f313314b02fe1f653c00d3b...,1,2020-11-09,desktop,no
3,164214,8425825595b1e13ecbcf717622db765824b51ef45db682...,91ab77c5a83148d7183fc1cc9396db16c6db8751149c66...,754,2020-11-09 17:56:46,5580,Mozilla/5.0 (iPhone; CPU iPhone OS 14_1 like M...,6b8f14f34b98b4d1f7cf7e987e6eb8a13212bb00464bc5...,1,2020-11-09,mobile,no
4,164213,69dbeba4005cbbd53d6bd3015d7da9dc3dce6e60c078f0...,a0abdc546efdd2d8ce4bedb9f9329c6eca668b4e3e08fd...,247,2020-11-09 17:57:43,1740,$%28PRODUCT_NAME%29/62 CFNetwork/1126 Darwin/1...,416d1ce2b50408455b5ff48f313314b02fe1f653c00d3b...,1,2020-11-09,desktop,no

In [52]:
df_otr_playbacks = df_playbacks.query('subscription_playback == 0')

In [53]:
df_otr_playbacks.shape

(28669, 12)

In [58]:
df_otr_playbacks_min = df_otr_playbacks.groupby('account_key')['date_start'].min()

In [60]:
df_accounts_eda = pd.merge(df_accounts_eda, df_otr_playbacks_min, on='account_key', how='left')

In [63]:
df_accounts_eda = pd.merge(df_accounts_eda, df_account_sub_min_date, on='account_key', how='left')

In [65]:
df_accounts_eda.rename(columns = {'date_start':'min_otr_playback', 'creation_date':'voucher_creation_date', 'subscription_start':'min_subscription_start'}, inplace = True)

In [66]:
df_accounts_eda.head()

,account_key,city_original,language,country_code,email_hash,onetime_rental_count,subscription_count,registration_date,lastlogin_date,postal_code_clean,city_clean,state,language_code,country_name,region,sub_region,voucher_used,voucher_creation_date,min_otr_playback,min_subscription_start
0,60a90104f44414d9036aed7d96d1468a5a9e1d104b6791...,Wettingen,de,CH,5f3d193f5be5c279e77a80d7de82ffb34e3883a3d6a3e7...,0,1,2003-06-20,2021-01-06 21:10:19,5430,Wettingen,Aargau,1.0,Switzerland,Europe,Western Europe,NaN,NaT,NaT,2020-05-02
1,a48b28809457e680de54b4b560e00117308431c574aab2...,Meilen,de,CH,029a26c1483d78f98002c3be1c902b15ce814b62e45a2a...,0,1,2003-07-06,2021-10-03 18:16:05,8706,Meilen,Zürich,1.0,Switzerland,Europe,Western Europe,NaN,NaT,NaT,2021-04-15
2,7a280859423057ac5f1e0bfc15af602edd23900f3cf7cb...,Lausanne,fr,CH,08a8ff8a3b3fb9be3a8f87a86960bf9f3e43b31d0772e1...,1,0,2003-10-28,2021-12-04 19:38:42,1005,Lausanne,Waadt,2.0,Switzerland,Europe,Western Europe,NaN,NaT,2021-12-04,NaT
3,23e7ac18b391549e95a98d85a3adae1f3f90c4fcc09732...,Oberdorf,de,CH,007ada12068218817c2b69325d1bfe2d7ac10da3a9922d...,0,2,2003-12-04,2022-11-17 20:48:46,4436,Liedertswil,Basel-Landschaft,1.0,Switzerland,Europe,Western Europe,NaN,NaT,NaT,2018-11-16
4,a39dbaa7972fb67c15db79d4a66cf5d1b94855ae530774...,Luzern,de,CH,cff18967fb0f8b29eeb54a91b98d027920d44c1e771258...,8,2,2003-12-07,2022-12-02 20:11:05,6005,Luzern,Luzern,1.0,Switzerland,Europe,Western Europe,0.0,2021-01-17,2020-12-09,2018-04-13